##Assignment : Python - Data Structure

1. What are data structures, and why are they important?

  - Data structures are methods of organizing and storing data to perform operations efficiently. They are essential because they optimize data management, improve algorithm performance, and solve computational problems effectively.

2. Explain the difference between mutable and immutable data types with examples.

  - Mutable: Can be changed after creation (e.g., list, dict, set).
  - Immutable: Cannot be changed after creation (e.g., tuple, str).

3. What are the main differences between lists and tuples in Python?

  - Lists are mutable; tuples are immutable.
  - Lists have higher memory overhead than tuples.
  - Lists are used when frequent updates are needed; tuples are preferred for fixed data.

4. Describe how dictionaries store data.

  - Dictionaries store data as key-value pairs. Keys are hashed and used for indexing, allowing fast lookups.

5. Why might you use a set instead of a list in Python?

  - Sets eliminate duplicate values automatically.
  - Sets offer faster membership testing (in operator) due to hashing.

6. What is a string in Python, and how is it different from a list?

  - Strings are immutable sequences of characters.
  - Lists are mutable and can store mixed data types.

7. How do tuples ensure data integrity in Python?

  - By being immutable, tuples prevent accidental modifications, ensuring the data remains consistent throughout its lifecycle.

8. What is a hash table, and how does it relate to dictionaries in Python?

  - A hash table is a data structure that maps keys to values using a hash function. Python's dictionaries use hash tables internally to enable fast lookups.

9. Can lists contain different data types in Python?

  - Yes, Python lists can contain elements of varying data types.

10. Explain why strings are immutable in Python.

  - For performance and security. Immutability allows strings to be safely shared across multiple processes and optimizes memory usage.

11. What advantages do dictionaries offer over lists for certain tasks?

  - Fast lookups using keys.
  - Data is stored in key-value pairs, offering better organization for related data.

12. Describe a scenario where using a tuple would be preferable over a list.

  - Tuples are ideal when the data should not change, such as coordinates in a 2D plane:
  point = (4, 5)

13. How do sets handle duplicate values in Python?

  - Sets automatically remove duplicates.
  - Example:
  my_set = {1, 2, 2, 3}
  print(my_set)  
  
  # Output: {1, 2, 3}


14. How does the “in” keyword work differently for lists and dictionaries?

  - In lists, in checks for the presence of a value.
  - In dictionaries, in checks for the presence of a key.

15. Can you modify the elements of a tuple? Explain why or why not.

  - No, tuples are immutable. Once created, their contents cannot be changed.

16. What is a nested dictionary, and give an example of its use case?

  - A dictionary inside another dictionary.
  - Example:
  student_data = {"Alice": {"age": 25, "grade": "A"}}


17. Describe the time complexity of accessing elements in a dictionary.

  - The average time complexity is O(1) for lookups, thanks to hashing.

18. In what situations are lists preferred over dictionaries?

  - When the data is ordered or when you need to maintain duplicates.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  - Dictionaries are based on hash tables, so order is not preserved. Retrieval is efficient (O(1)) but not sequential.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  - Lists use index-based retrieval, requiring O(n) for searching specific values.
  - Dictionaries use key-based retrieval, offering O(1) efficiency.

In [2]:
# 1. Write a code to create a string with your name and print it?

my_name = "Manish"
print("My name is", my_name)

My name is Manish

In [3]:
# 2. Write a code to find the length of the string "Hello World".

a = "Hello World"
len(a)

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

b = "Python Programming"
slice = b[:3]
print(slice)

Pyt

In [7]:
# 4. Write a code to convert the string "hello" to uppercase.

c = "hello"
upper = c.upper()
print(upper)

HELLO

In [8]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

d = "I like apple"
modified = d.replace("apple","orange")
print(modified)

I like orange

In [9]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

e = [1, 2, 3, 4, 5]
print(e)

[1, 2, 3, 4, 5]

In [10]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

f = [1, 2, 3, 4]
f.append(10)
print(f)

[1, 2, 3, 4, 10]

In [11]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

g = [1, 2, 3, 4, 5]
g.remove(3)
print(g)

[1, 2, 4, 5]

In [13]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

h = ['a', 'b', 'c', 'd']
print(h[1])

b

In [14]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

i = [10, 20, 30, 40, 50]
reverse = i[::-1]
print(reverse)

[50, 40, 30, 20, 10]

In [16]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

j = (100, 200, 300)
print(j)

(100, 200, 300)

tuple

In [18]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

k = ('red', 'green', 'blue', 'yellow')
print(k[-2])

blue

In [38]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).


l = (10, 20, 5, 15)
min_value = l[0]

for num in l:
    if num < min_value:
        min_value = num

print(min_value)

5

In [33]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

m = ('dog', 'cat', 'rabbit')
index = m.index("cat")
print(index)

1

In [41]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

n = ("apple", "banana", "cherry")
if "kiwi" in n:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [42]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

o = {'a', 'b', 'c'}
print(o)

{'a', 'b', 'c'}

In [43]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

p = {1, 2, 3, 4, 5}
p.clear()
print(p)

set()

In [44]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

q = {1, 2, 3, 4}
q.remove(4)
print(q)

{1, 2, 3}

In [45]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

r = {1, 2, 3}
s = {3, 4, 5}
union = r.union(s)
print(union)

{1, 2, 3, 4, 5}

In [46]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

t = {1, 2, 3}
u = {2, 3, 4}
intersection = t.intersection(u)
print(intersection)

{2, 3}

In [47]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

v = {"name": "Manish", "age": 30, "city": "Bhubaneswar"}
print(v)

{'name': 'Manish', 'age': 30, 'city': 'Bhubaneswar'}

In [49]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

w = {'name': 'John', 'age': 25}
w["country"] = "USA"
print(w)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [51]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

x = {'name': 'Alice', 'age': 30}
print(x["name"])

Alice

In [52]:
# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

y = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del y["age"]
print(y)

{'name': 'Bob', 'city': 'New York'}

In [54]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

z = {'name': 'Alice', 'city': 'Paris'}
if "city" in z:
    print("City exists in the dictionary")
else:
    print("City does not exist in the dictionary")

City exists in the dictionary

In [55]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

aa = [1, 2, 3]
bb = (4, 5, 6)
cc = {"name": "Manish", "age": 30}

print("List:", aa)
print("Tuple:", bb)
print("Dictionary:", cc)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Manish', 'age': 30}

In [61]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
sorted_numbers = sorted(random_numbers)
print("Original list random numbers:", random_numbers)
print("Sorted list:", sorted_numbers)

Original list random numbers: [57, 40, 10, 100, 22]
Sorted list: [10, 22, 40, 57, 100]

In [63]:
# 28. Write a code to create a list with strings and print the element at the third index.

dd = ["apple", "banana", "cherry", "date", "cashew"]
print(dd[3])

date

In [64]:
# 29. Write a code to combine two dictionaries into one and print the result.

ee = {'a': 1, 'b': 2}
ff = {'c': 3, 'd': 4}
combined = {**ee, **ff}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [65]:
# 30. Write a code to convert a list of strings into a set.

gg = ["apple", "banana", "cherry"]
hh = set(gg)
print(hh)

{'cherry', 'apple', 'banana'}